#container{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 1px solid aqua;
    display: flex;
    border-radius: 5px;

}
#container div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    
}

#container div a{
    text-decoration: none;
}