/* #outer{
    height: 400px;
    width: 400px;
    background-color: chartreuse;
    border: 2px solid black;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 20px;
} */
 /* #outer{
    height: 400px;
    width: 400px;
    background-color: chartreuse;
    border: 2px solid black;
    font-size: 20px;
 }
 #inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    font-size: 1.5em;
    padding: 1em;margin: 1em;
 } */

 /* button{
    font-size: 100px;
    border: 2px solid green;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
 } */
  section{
    font-size: 30px;
  }
  div{
    font-size: 2rem;
  }