.low-alpha{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.5);
}
.high-alpha{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 255, 0, 1);
}
#opacity{
    height: 200px;
    width: 200px;
    background-color: aqua;
    opacity: 0.5;
}
#opacity1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    opacity: 1;
}
