.card{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
}
img{
    height: 100%;
    border-radius: 10px;
}
.desc{
    padding-left: 5px;
}
.card:hover{
    box-shadow: 0px 4px 50px black;
}