section{
    margin-top: 200px;
    
}
div{
    height: 50px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    background-color: cadetblue;
    margin: 0 auto;
    
}
div:nth-of-type(2n){
    background-color: gold;
}
div:nth-of-type(3n){
    background-color: red;
}

/* Transform */
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translatex(-100px); 
}
#foure{
    transform: skew(30deg);
}
#five{
    transform: rotate(30deg) translatex(30px);
}
#box{
    box-shadow: 4px 4px 10px black;
}